{% extends "layout.html" %}

{% block content %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>users</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>List of users</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <table class="table-striped">
                        <thead>
                        <tr>
                            <th class=" col-lg-3 col-md-3  col-sm-3">Name</th>
                            <th class=" col-lg-4 col-md-4  col-sm-4">Email</th>
                            <td class="col-lg-2 col-md-2 col-sm-2">Phone No.</td>
                            <th class=" col-lg-3 col-md-3  col-sm-3">Transformer In-charge</th>
                            <th class=" col-lg-1 col-md-1  col-sm-1">Action</th>

                        </tr>
                        </thead><br>
                        <tbody>
                        <tr>
                            <th class=" col-lg-3 col-md-3  col-sm-3">Ogedengbe Omosalewa</th>
                            <th class="col-lg-4 col-md-4  col-sm-4"">Ogedengheshale@gmail.com</th>
                            <td class="col-lg-2 col-md-2 col-sm-2">09089763536</td>
                            <th class=" col-lg-3 col-md-3  col-sm-3">Mokuro</th>
                            <td class="btn btn-sm btn-info">Enable </td>
                        </tr>
                        <tr>
                            <th class=" col-lg-3 col-md-3  col-sm-3">Ogedengbe Omosalewa</th>
                            <th class="col-lg-4 col-md-4  col-sm-4">Ogedengheshale@gmail.com</th>
                            <td class="col-lg-2 col-md-2 col-sm-2">09089763536</td>
                            <th class=" col-lg-3 col-md-3  col-sm-3">Mokuro</th>
                            <td class="btn btn-sm btn-info">Enable </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}